.cart-page{
    margin-top: 50px;
    padding-bottom: 100px;
    & h1 {
        font-family: 'Raleway';
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    &__cart-item {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #E5E5E5;
        &:nth-last-of-type(n-1) {
            border-bottom: 1px solid #E5E5E5;
        }
        &__description {
            display: flex;
            flex-direction: column;
            &__title {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: 10px;
            }
            &__sub-title{
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 10px;
            }
            &__price {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}

.cart-page__attribute {
    p {
        font-size: 18px;
        font-weight: 700;
        font-family: 'Roboto Condensed';
        margin-top: 15px;
        margin-bottom: 10px;
    }
    &__description{
        &__attribute--text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 63px;
            height: 43px;
            border: 1px solid #000;
            font-weight: 400;
            font-family: 'Source Sans Pro';
            &.attribute.active {
                background-color: #000;
                color: #fff;
            }
        }
        &__attribute--swatch {
            width: 32px;
            height: 32px;
            border: 1px solid black;
            &.attribute.active {
                border: 2px solid $Theam-Color;
            }
        }
        &__attributes-wrapper {
            display: flex;
            column-gap: 10px;
        }
    }
}

.cart-page-item-gallery {
    display: flex;
    &__qty-btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        & p {
            font-size: 24px;
            font-weight: 500;
            color: #1D1F22;
        }
        & button {
            width: 45px;
            height: 45px;
            color: #1D1F22;
            background-color: #fff;
            border: 1px solid #1D1F22;
            &:hover {
                background-color: #1D1F22;
                color: white;
                cursor: pointer;
            }
        }
    }
    &__img-wrapper {
        position: relative;
        width: 200px;
        & img{
            width: 100%;
            height: 260px;
            object-fit: contain;
        }
        &__btns-wrapper {
            position: absolute;
            display: flex;
            bottom: 10px;
            right: 10%;
            width: 70px;
            height: 24px;
            :hover {
                scale: 1.1;
            }
            & button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: rgba(0, 0, 0, 0.73);
                border: none;
                width: 24px;
                height: 24px;
                cursor: pointer;
                
            }
            &__img {
                width: 24px;
                &__prev-btn {
                    margin-right: 10px;
                }
            }
        }
    }
}

.btn-icon.icon {
    width: 20px;
    height: 20px;
}


.cart-page__cart-summary {
    width: 30%;
    margin-top: 20px;
    &__item-wrapper {
        display: flex;
        font-size: 24px;
        font-weight: 400;
        & p {
            width: 40%;
        }
    }
    &__total-price {
        font-weight: 500;
    }
    &__bold-font {
        font-weight: 700;
    }
    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 43px;
        background-color: $Theam-Color;
        color: #fff;
        border: none;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
            background-color: lighten($color: $Theam-Color, $amount: 10%);
        }
    }
}