.cart-page{
    margin-top: 50px;
    padding-bottom: 100px;
    & h1 {
        font-family: 'Raleway';
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    
}



.btn-icon.icon {
    width: 20px;
    height: 20px;
}


.cart-page__cart-summary {
    width: 30%;
    margin-top: 20px;
    &__item-wrapper {
        display: flex;
        font-size: 24px;
        font-weight: 400;
        & p {
            width: 40%;
        }
    }
    &__total-price {
        font-weight: 500;
    }
    &__bold-font {
        font-weight: 700;
    }
    & button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 43px;
        background-color: $Theam-Color;
        color: #fff;
        border: none;
        margin-top: 20px;
        &:hover {
            cursor: pointer;
            background-color: lighten($color: $Theam-Color, $amount: 10%);
        }
    }
}