.category-page-wrapper {
    padding-top: $Small-Padding;
    &__title-wrapper {
        margin-bottom: 40px;
    }
    &__items-wrapper {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        justify-content: center;
    }
}