.header{
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    padding-top: $Small-Padding;
    z-index: 1;
    background-color: #fff;
    &__nav {
        display: flex;
        gap: 20px;
        flex-grow: 0;
        

        & a {
            color: #000;
            text-decoration: none;

            &:hover {
                border-bottom: 2px solid $Theam-Color;
            }
            &.active{
                color: $Theam-Color;
                border-bottom: 2px solid $Theam-Color;
            }
        }
    }
    &__logo-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }
    &__cart-icon-container {
        position: relative;
        flex-grow: 0;
        margin-left: 10px;
        &__items-in-cart {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: -5px;
            right: -8px;
            width: 15px;
            height: 15px;
            color: #fff;
            font-size: 14px;
            font-family: 'Roboto';
            background-color: #000;
            border-radius: 50%;
            padding: 5px;
        }
    }
}

.header__cart-icon-currency-switcher-wrapper {
    position: relative;
    font-weight: 500;
    cursor: pointer;
    & span {
        margin-right: 5px;
    }
}

.currency-switcher__select-bar {
    display: flex;
    align-items: center;
    padding: 5px 10px;
}

.currency-switcher__options-wrapper {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #fff;
    box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.5);
        -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.5);
    & .option {
        padding: 10px 20px;
        cursor: pointer;
    }
}

.currency-switcher__options-wrapper.active {
    display: block;
}

.currenccy-switcher__arrow {
    padding-bottom: 3px;
}

.currenccy-switcher__arrow.active {
    rotate: 180deg;
    padding-top: 3px;
}

.currency-switcher__options-wrapper .option:hover {
    background-color: #eee;
}