@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto&family=Roboto+Condensed:wght@400;700&family=Source+Sans+Pro&display=swap');
@import '_variables.scss';
@import '_header.scss';
@import '_categoryPage.scss';
@import '_productDetailComponent.scss';
@import '_productPage.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
}

.app-wrapper {
    padding-left: $Page-Sides_Padding;
    padding-right: $Page-Sides_Padding;
}